/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color:#D8DAD3;
}

h1 {
  padding-bottom: 10px;
  color: #4d6219;
}

fieldset {
  margin: 15px;
  width: 300px;
}

legend {
  color:#040926;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
}


#quantity {
  width: 50px;
}

.item {
  text-transform: capitalize;
}


table {
  width: 100%;
}

th {
  color: rgb(49, 48, 51);  
  font-size: smaller;
  text-decoration: underline;
}

td {
  font-size: smaller;
}

.container-fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}


#add {
  background-color: #8ab98c;
}


#img-add, #img-remove {
  background-color: none;
  border: none;
  height: 1rem;
}

#btn-add, .btn-remove{
  background-color: inherit;
  border: none;
}